*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}

#logo{
    width: 4rem;
    border-radius: 50%;
}

header{
   
}

#hakkımda_profilresmi{
    margin-top: 6rem;
    margin-left: 10rem;
    width: 20rem;
    border-radius: 50%;
}

#hakkımda_açıklama{
    margin-top: 10rem;
}





